@import "tailwindcss";

@layer base {
  * {
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Plus Jakarta Sans', system-ui, -apple-system, sans-serif;
  }

  code, pre, .font-mono {
    font-family: 'JetBrains Mono', monospace;
  }
}

/* Özel Scrollbar Tasarımı */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: #020617;
}

::-webkit-scrollbar-thumb {
  background: #1e293b;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #334155;
}

/* Animasyonlar */
@keyframes dash {
  to {
    stroke-dashoffset: -24;
  }
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
